body {
    background-color: #282c34;
    color: white;   padding: 0px;
    font-family: Arial;
    text-align: center;
    font-size: 12px !important;
}

.label{
    font-size: 10px !important;
    font-weight: bold !important;
}
.input-label{
    background-color: lavender;
    border-radius: 7px;
}

.center{
    text-align: center;
}
.right{
    position: relative;
    text-align: right;
}

 form textarea{

    font-family: "Roboto", sans-serif;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #525c66;
    resize: horizontal;
     border-radius: 10px;
}
.textarea:focus
{
    color: #2E3133;
    border-color: #FBFFAD;
}