body {
    background-color: #282c34;
    color: white;   padding: 0px;
    font-family: Arial;
    text-align: center;
    font-size: 12px !important;
}

.label{
    font-size: 10px !important;
    font-weight: bold !important;
}
.input-label{
    background-color: lavender;
    border-radius: 7px;
}

.center{
    text-align: center;
}
.right{
    position: relative;
    text-align: right;
}